* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: aqua;
}
.main-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blue;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  color: red;
  padding: 0px 60px 0px 80px;
  border: 1px solid red;
  background-color: blue;
}
.car {
  border: 1px solid red;
  margin-left: 80px;
  padding-top: 25px;
  position: relative;
  background-color: blue;
}
.amount {
  font-size: 30px;
  border: 1px solid red;
  padding-top: 25px;
  position: relative;
  background-color: blue;
}
.date {
  border: 5px solid red;
}
